html,
body {
  padding: 0;
  margin: 0;
  font-family: SF, monospace;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  color: green;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
